section.section-home {
  width: 100%;
  /*height: calc(100vh - 80px - 2.50rem);*/
  height: 100vh;
  background: url('../../images/index-cover.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.section-home .panel-module {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 80px - 2.50rem);
  margin-top: calc(80px + 2.50rem);
  /*background: rgba(255, 255, 255, 0.5);*/
}
